# default cmake gitignore : https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# that project
/CMakeDoxyfile.in
/CMakeDoxygenDefaults.cmake
/Doxyfile
.qglviewer.xml
/lib
/bin
/src/moc_onlinefusionviewer.cxx_parameters
/src/moc_onlinefusionviewer.cxx
/Project.cbp
/build/
/.cproject
/.project
/Project.layout
/.settings
.idea